.tags-input {
  /*display: inline-block;*/
  padding: 0;
  background: #FFF;
  /*border: 1px solid #CCC;
  border-radius: 2px;*/
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.tag {
  display: inline-block;
  background: #EEE;
  color: #444;
  padding: 0 4px;
  margin: 2px;
  border: 1px solid #CCC;
  border-radius: 2px;
  font: inherit;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease;
  position: relative;
}
.tags-input .tag.selected {
  background-color: #777;
  border-color: #777;
  color: #EEE;
}
.tags-input .tag.duplicate {
  transform: scale3d(1.1, 1.1, 1.1);
  background-color: #FCC;
  border-color: #700;
}
.tags-input input {
  appearance: none;
  display: block;
  width: 100%;
  padding: 3px;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  font: inherit;
  font-size: 100%;
  outline: none;
}
.tags-input .selected ~ input {
  opacity: 0.3;
}
.tags-input .tag.active{
  font-weight: bold;
  background-color:red;
}

.tags-input .deleteIcon{
  position: absolute;
  right: 2px;
  top:50%;
  width: 1em;
  height: 1em;
  z-index: 900;
  transform: translateY(-50%);
}

.tags-input .deleteIconWrapper{
  display: inline-block;
  height: 100%;
  min-height: 10px;
  width: 1em;
  min-width: 10px;
  position: relative;
  margin-left: 5px;
}
