.menu{
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu li{
  float: none;
}

.submenu ul{
  display: none;
  position: absolute;
  min-width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

 .submenu > ul{
  display: none;
  position: absolute;
  min-width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.submenu.hovered > ul{
  display: inline-block;
  min-width: 160px;
}

.hovered {
    background-color: #4CAF50;
}
